/* style formatting section */
header { text-align: center; }
body { background-color: #EC47A8; }
footer { text-align: right; }

h1, h4 {
  text-align: center;
  font-family: lucida handwriting;
}

main {
  color: #EC47A8;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
}

.blueback {background-color: #00f8fc;}
.grayback {background-color: #b0b0b0;}

.tableheader {
  color: white;
  background-color: black;
}

.table {
  font-size: 1.5em;
  font-family: serif;
}

/* grid formatting section */
.item1 {grid-area: header;}
.item2 {grid-area: nav;}
.item3 {grid-area: main;}
.item4 {grid-area: footer;}
.item5 {grid-area: aside;}

nav, main {padding: 20px;}
.grid-white { background-color: white; }
.grid-black { background-color: black; }

.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas:
    'header header header'
    'nav main main'
    'footer footer footer';
    grid-gap: 10px;
    background-color: transparent;
}

.grid-container-b {
  display: grid;
  grid-template-columns: 25% 45% 30%;
  grid-template-areas:
    'header header header'
    'nav main aside'
    'footer footer footer';
    grid-gap: 10px;
    background-color: transparent;
}

/* phone resizing section */
@media screen and (max-width: 600px) {
  nav { padding: 5px; }
  nav ul li { display: inline; }

  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header'
      'nav nav nav'
      'main main main'
      'footer footer footer';
    grid-gap: 10px;
    background-color: transparent;
  }

  .grid-container-b {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      'header'
      'nav'
      'main'
      'aside'
      'footer';
    grid-gap: 10px;
    background-color: transparent;
  }
}

/* nav buttons section */
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/*b {
  color: black;
  font-size: 1.5em;
}*/

button:hover {
  background-color: rgb(255, 0, 200);
  color: white;
}

button.current:hover {
  background-color: black;
  color: black;
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  text-decoration: none;
}

.navbutton {
  background-color: rgb(0, 247, 255);
  padding: 15px;
  margin: 3px;
  border: 10px;
  text-align: center;
  font-size: 1.5em;
  border-radius: 12px;
}

.navbutton.current {
  background-color: gray;
  padding: 15px;
  margin: 3px;
  border: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 12px;
}