header {
  text-align: center;
}

main {
  color: #EC47A8;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
}

body { background-color: #EC47A8; }

h1, h4 {
  text-align: center;
  font-family: lucida handwriting;
}

footer {
  text-align: right;
}

.blueback {background-color: #00f8fc;}
.grayback {background-color: #b0b0b0;}

.tableheader {
  color: white;
  background-color: black;
}

.table {
  font-size: 1.5em;
  font-family: serif;
}

/* section for grid formatting */
.item1 {grid-area: header;}
.item2 {grid-area: nav;}
.item3 {grid-area: main;}
.item4 {grid-area: footer;}
.item5 {grid-area: aside;}

nav, main {padding: 20px;}

.grid-container {
  display: grid;
  /*grid-template-columns: 28% 70%;*/
  grid-template-areas:
    'header header header'
    'nav main main'
    'footer footer footer';
    grid-gap: 10px;
    background-color: transparent;
}

.grid-container-b {
  display: grid;
  grid-template-areas:
    'header header header'
    'nav main aside'
    'footer footer footer';
    grid-gap: 10px;
    background-color: transparent;
}

.grid-white {
  background-color: white;
}

.grid-black {
  background-color: black;
}

/* On screens that are 992px or less, set the background color to blue */
/*@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}*/

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header'
      'nav nav nav'
      'main main main'
      'footer footer footer';
    grid-gap: 10px;
    background-color: transparent;
  }
  .grid-container-b {
    display: grid;
    grid-template-areas:
      'header header header'
      'nav main main'
      'footer footer footer';
    grid-gap: 10px;
    background-color: transparent;
  }

  nav ul li {display: inline;}
  nav {padding: 5px;}
}

/* section for nav buttons */

a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

b {
  color: black;
  font-size: 1.5em;
}

button:hover {
  background-color: rgb(255, 0, 200);
  color: white;
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  text-decoration: none;
}

.navbutton {
  background-color: rgb(0, 247, 255);
  padding: 15px;
  margin: 3px;
  border: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
}